<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DevCrm" connectionString="AuthType=ClientSecret;Url=https://insight-dev.crm.dynamics.com;ClientId=c6b88ebc-8047-4491-9e01-ca4f50b538cd;ClientSecret=" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
</configuration>